# macOS
.DS_Store

# Build artifacts
DerivedData/
build/

# Xcode project user data
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xcuserstate
xcuserdata/

# Xcode workspaces
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.swiftpm/
.swiftpm/xcode/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcshareddata/
.swiftpm/xcode/package.xcworkspace/xcshareddata/xcschemes/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/xcshareddata/
.swiftpm/xcode/xcshareddata/xcschemes/

# Misc
*.xccheckout
*.xcscmblueprint
