
  .DS_Store
  DerivedData/
  build/
  *.pbxuser
  *.mode1v3
  *.mode2v3
  *.perspectivev3
  xcuserdata/
  *.xcworkspace
  !default.xcworkspace
  *.moved-aside
  *.xcuserstate

  # Swift Package Manager
  .swiftpm/

  # CocoaPods
  Pods/

  # Carthage
  Carthage/Build/
  Carthage/Checkouts/

  # Fastlane
  fastlane/report.xml
  fastlane/screenshots/
  fastlane/test_output/